@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

.btn-primary {
  background-color: #00BFA5;
  color: white;
  font-weight: 600;
  padding: 0.75rem 2rem;
  border-radius: 0.375rem;
  transition: all 0.3s;
  transform: scale(1);
}

.btn-primary:hover {
  background-color: rgba(0, 191, 165, 0.9);
  transform: scale(1.05);
}

.btn-secondary {
  border: 2px solid #00BFA5;
  color: #00BFA5;
  font-weight: 600;
  padding: 0.75rem 2rem;
  border-radius: 0.375rem;
  transition: all 0.3s;
}

.btn-secondary:hover {
  background-color: #00BFA5;
  color: white;
}

.section-title {
  font-size: 2.25rem;
  font-weight: 700;
  color: #1E3A8A;
  margin-bottom: 1rem;
}

p{
  font-size: 19px;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 2.5rem;
  }
}

.section-subtitle {
  color: #4B5563;
  font-size: 1.125rem;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}